RewriteEngine OnRewriteBase /RewriteRule ^faculdade.cnecbento.com.br http://faculdadecnecbento.cnec.br/ [NC,L,R=301]RewriteRule ^colegio.cnecbento.com.br http://colegiocnecbento.cnec.br/ [NC,L,R=301]RewriteRule ^posmedio.cnecbento.com.br http://colegiocnecbento.cnec.br/ [NC,L,R=301]RewriteRule !\.(swf|js|ico|gif|jpg|png|css|JPG|zip|pdf|doc|docx|xlsx)$ index.phpRedirect /admin http://serverws.com.br/login/9