#vestibular2011 {
	width: 763px;
	position: relative;
	font: 12px Arial, Helvetica, sans-serif;
}
#vestibular2011 #parte1 {
	width: 763px;
	height: 308px;
	background: url(../_img/vestibular/fundo2-01.jpg) no-repeat;
}
#vestibular2011 #parte2 {
	width: 763px;
	height: 548px;
	background: url(../_img/vestibular/fundo2-02.jpg) no-repeat;
}
#vestibular2011 #parte3 {
	width: 763px;
	height: 460px;
	background: url(../_img/vestibular/fundo2-03.jpg) no-repeat;
}
#vestibular2011 #texto1 {
	height: 100px;
	width: 300px;
	margin-top: 15px;
	margin-left: 15px;
	position: absolute;
}
#vestibular2011 #texto2 {
	height: 60px;
	width: 200px;
	margin-top: 15px;
	margin-left: 530px;
	position: absolute;
}
#vestibular2011 #texto3 {
	height: 60px;
	width: 200px;
	margin-top: 80px;
	margin-left: 530px;
	position: absolute;
	left: 16px;
	top: 13px;
	text-align: right;
}
#vestibular2011 #titVestibular {
	height: 272px;
	width: 381px;
	padding-top: 32px;
	padding-left: 365px;
	position: relative;
	text-align: right;
	clear: both;
}
#vestibular2011 #inscricoes {
	height: 110px;
	width: 191px;
	margin-left: 525px;
	position: relative;
}
#vestibular2011 #prova {
	height: 67px;
	width: 191px;
	margin-left: 525px;
	position: relative;
}
#vestibular2011 #tit_cursos {
	height: 164px;
	width: 39px;
	margin-left: 15px;
	margin-top:50px;
	float:left;
}
#vestibular2011 #cursos1 {
	height: 150px;
	width: 200px;
	margin-top:50px;
	float:left;
	padding-top: 10px;
	margin-left: 20px;
}
#vestibular2011 #cursos2 {
	height: 150px;
	width: 230px;
	margin-top:50px;
	float:left;
	padding-top: 10px;
}
#vestibular2011 #info-outros {
	height: 140px;
	width: 225px;
	margin-top:50px;
	float:left;
	padding: 10px;
	text-align: right;
}


#vestibular2011 ul {
	font-weight: bold;
	color: #008641;
	line-height: 160%;
	margin-top: 0px;
}
#vestibular2011 li {
	list-style: square;
	margin-left: 0px;
}
#vestibular2011 ul li a {
	line-height: 190%;
}


#vestibular2011 #infos {
	height: 85px;
	width: 720px;
	margin-top:15px;
	float:left;
	clear: both;
	margin-left: 15px;
}
#vestibular2011 #logoFaculdade {
	height: 91px;
	width: 300px;
	float:left;
	margin: 15px;
}
#vestibular2011 #endFaculdade {
	width: 380px;
	float:right;
	margin: 15px;
	padding: 5px;
	line-height: 140%;
	font-weight: bolder;
}
#vestibular2011 h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 30px;
	padding: 0px;
	text-decoration: underline;
}
#vestibular2011 h3:hover {
	text-decoration: none;
}


#vestibular2011 a   {
	font-size: 15px;
	font-weight: bold;
	color: #0A562E;
	text-decoration: none;
}
#vestibular2011 a:hover {
	color: 6eb440;
	text-decoration: underline;
}



#vestibular2010-3 {
	width: 764px;
	position: relative;
	font: 12px Arial, Helvetica, sans-serif;
}
#vestibular2010-3 .chamada {
	margin: 0px 2px 2px 0px;
	float: left;
	height: 153px;
	width: 506px;
}

#vestibular2010-3 .texto-meio {
	margin: 2px 0px 2px 2px;
	float: left;
	height: 151px;
	width: 380px;
}
#vestibular2010-3 p {
	margin: 10px 10px 0px;
	line-height: 170%;
}
#vestibular2010-3 ul {
	font-weight: bold;
	color: #B82958;
	line-height: 140%;
	margin: 0px;
}
#vestibular2010-3 li {
	list-style: square;
}
#vestibular2010-3 ul li a {
	line-height: 165%;
}


#vestibular2010-3 .destaque  {
	font-size: 18px;
	font-weight: bold;
	color: #AA2043;
}
#quadro1, #quadro2, #quadro3, #quadro4, #quadro5, #quadro6, #quadro7, #quadro8, #quadro9, #quadro10, #quadro11, #quadro12, #quadro13, #quadro14 {
	margin: 2px;
	float: left;
}
#vestibular2010-3 .quadro1, .quadro2, .quadro3 {
	margin: 2px;
	float: left;
	height: 151px;
	background: #f5e1a4;
}
#vestibular2010-3 .quadro1 {
	width: 123px;
}
#vestibular2010-3 .quadro2 {
	width: 250px;
}
#vestibular2010-3 .quadro3 {
	width: 377px;
}
#vestibular2010-3 .quadro4 {
	margin: 2px;
	float: right;
	height: 306px;
	width: 250px;
	background: #f5e1a4;
}
#vestibular2010-3 .quadro6 {
	margin: 2px;
	height: 301px;
	width: 362px;
	background: #f5e1a4;
	padding-top: 5px;
	padding-left: 15px;
}
#vestibular2010-3 .quadro-contato {
	margin: 2px;
	height: 306px;
	width: 367px;
	padding-left:10px;
	background: #FFF;
}
#vestibular2010-3 .rodape {
	margin: 2px;
	float: left;
	width: 739px;
	background: #B82958;
	color: #FFF;
	padding: 10px;
}
#vestibular2010-3 #assinatura {
	float: right;
	width: 380px;
	text-align: right;
	font-size: 11px;
	margin-bottom: 10px;
}
#vestibular2010-3 #assinatura a {
	color: #FC0;
	font-size: 13px;
}
#vestibular2010-3 .ae {
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
}

#vestibular2010-3 a   {
	font-size: 16px;
	font-weight: bold;
	color: #AA2043;
	text-decoration: none;
}
#vestibular2010-3 a:hover {
	color: #B82958;
	text-decoration: underline;
}

#vestibular2010-3 .link-insc   {
	color: #009;
	text-decoration: none;
	font-size: 18px;
}
#vestibular2010-3 .link-insc:hover {
	text-decoration: underline;
	color: #00C;
}
#vestibular2010-3 .inpute{
	width: 340px;
	font: 11px Verdana, Tahoma, sans-serif;
}
